* {
    outline: 0.25px solid blue;
    box-sizing: border-box;
}

body {
    background-color: rgb(50,100,75);
    color: rgb(200,200, 100);
    text-align: left;
}

.myTitle {
    text-align: center;
    color: rgb(200,200,200);
}

table {
    width: 100%;
}

img {
    width: 200px;
    float: left;
    border: 1px;
    padding: 5px;
    margin-right: 20px;

}

main {
    position: relative;
    top: 100px;
}